:root {
    --primary_colour: rgb(30, 30, 30);
    --secondary_colour: rgb(225, 225, 225);
    --link_colour: rgb(188, 55, 84);
}

body {
    background: linear-gradient(90deg, #482173, #433e85, #38588c, #2d708e, #25858e, #1e9b8a, #2ab07f, #52c569, #86d549, #c2df23);
    background-size: 2000% 2000%;
    animation: background_gradient 60s ease infinite;
    color: var(--primary_colour);
    font-family: sans-serif;
    margin: 0 8px;
    font-size: 110%;
}

@keyframes background_gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}

body header {
    margin: 1rem;
    text-align: center;
}

body header img {
    display: inline-block;
    width: 400px;
    max-width: 100%;
}

a {
    color: var(--link_colour);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

h1 {
    margin: 1rem 0 2rem;
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--primary_colour);
    line-height: 1.2;
}

hr {
  border: none;
  border-top: 2px solid var(--primary_colour);
  margin: 1em 20%;
  }

main {
    margin: 2rem auto 2rem;
    text-align: center;
    max-width: 50%;
    padding: 25px 25px 25px;
    /* min-height: calc(100vh - 200px); */
    background: var(--secondary_colour);
    box-shadow: 2px 3px 3px var(--primary_colour);
    border-radius: 10px;
    @media (max-width: 500px) {
        padding: 16px 16px 16px;
    }
}

footer {
    text-align: center;
    margin-bottom: 4rem;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

