
:root {
    --primary_colour: rgb(30, 30, 30);
    --secondary_colour: rgb(225, 225, 225);
    --link_colour: rgb(188, 55, 84);
    --transition_length: 1.0s;
}

body {
    background: linear-gradient(90deg, #7cafd7, #7fa5d3, #849bce, #7282c8, #616dc0, #534cb9, #5340a9);
    background-size: 1000% 1000%;
    animation: background_gradient 60s ease infinite;
    color: var(--primary_colour);
    font-family: sans-serif;
    margin: 0 8px;
    font-size: 110%;
}

@keyframes background_gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}

body header {
    margin: 1rem;
    text-align: center;
}

body header img {
    display: inline-block;
    width: 400px;
    max-width: 100%;
}

a {
    color: var(--link_colour);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

h1 {
    margin: 1rem 0 2rem;
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--primary_colour);
    line-height: 1.2;
}

hr {
  border: none;
  border-top: 2px solid var(--primary_colour);
  margin: 1em 20%;
  }

main {
/*    margin: 2rem auto 2rem;*/
/*    text-align: center;*/
/*    max-width: 50%;*/
/*    padding: 25px 25px 25px;*/
/*    min-height: calc(100vh - 200px);*/
/*    background: var(--secondary_colour);*/
/*    box-shadow: 2px 3px 2px var(--primary_colour);*/
/*    border-radius: 10px;*/
/*    @media (max-width: 500px) {*/
/*        padding: 16px 16px 16px;*/
/*    }*/
}

footer {
    text-align: center;
    margin-bottom: 4rem;
}


/* Style the tab */
.tab {
    display: inline-block;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: none;
    gap: 1rem;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    color: var(--link_colour);
    font-size: 1.25rem;
    font-weight: bold;
    background-color: inherit;
    float: center;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    transition: var(--transition_length) / 2;
    margin: 0 0 0.5rem;
}

.tab button:hover {
    text-decoration: underline;
}

.tab button.active {
    text-decoration: none;
    background-color: var(--secondary_colour);
    box-shadow: 2px 2px 2px var(--primary_colour);
}

.tabcontent {
    display: none;
    max-width: 50%;
    padding: 6px 12px;
    border: none;
    border-top: none;
    margin: 2rem auto 2rem;
    max-width: 50%;
    padding: 25px 50px 25px;
    background: var(--secondary_colour);
    box-shadow: 2px 3px 2px var(--primary_colour);
    border-radius: 10px;
    animation: fadeEffect var(--transition_length);
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

img {
    display: block;
    margin: auto;
    width: 75%;
/*    max-width: 75%;*/
}

embed {
    display: block;
    margin: auto;
    width: 75%;
    height: 1100px;
}
