{% extends 'base.html' %}

{% block head %}
<title>Tom Cutler Portfolio</title>
{% endblock %}

{% block body %}
<div class="content">
    <header>
        <h1>Tom Cutler Portfolio</h1>
    </header>
</div>

<div class="tab">
<!--    <button class="tablinks" onclick="changeTab(event, 'Home')" id="defaultOpen">Home</button>-->
    {% for name in projects_data %}
        <button class="tablinks" onclick="changeTab(event, '{{ name }}')" id="{{ name + '_tab' }}">{{ name }}</button>
    {% endfor %}
</div>

{% for name, readme in projects_data.items() %}
    <div id="{{ name }}" class="tabcontent">
        <main>
            {{ readme|safe }}
        </main>
    </div>
{% endfor %}

<script>
document.getElementById("Welcome_tab").click();
</script>

<div>
    <footer>
        Built with Python and Flask. Deployed with Frozen-Flask and GitHub Pages.
        <br>
        Contact me at <a href="mailto:tcutler96@hotmail.com">tcutler96@hotmail.com</a>
    </footer>
</div>
{% endblock %}
